<ngx-ts
  [items]="items"
  [periods]="periods"
  [sections]="sections"
  [events]="events"
  [locale]="'en-AU'"
  [showBusinessDayOnly]="false"
  [customEventTemplate]="myEventTemplate"
  [allowDragging]="true"
  [allowResizing]="false"
  [minRowHeight]="48"
></ngx-ts>

<mat-form-field appearance="outline">
  <mat-label>Event output</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="40"
            [(ngModel)]="eventOutput">
  </textarea>
</mat-form-field>

<br>
<div class="example-button-row">
  <button mat-raised-button (click)="addItem()">Add Item</button>
  <button mat-raised-button (click)="popItem()">Pop Item</button>
  <button mat-raised-button (click)="removeItem()">Remove Item</button>
  <button mat-raised-button (click)="addSection()">Add Section</button>
  <button mat-raised-button (click)="popSection()">Pop Section</button>
  <button mat-raised-button (click)="removeSection()">Remove Section</button>
  <button mat-raised-button (click)="refresh()">Refresh</button>
</div>

<ng-template #myEventTemplate let-itemMeta="itemMeta">
  <div class="time-sch-item-content" [style]="{
      'border-left': '8px solid red',
      'background-color': 'lightgray',
      'color': 'black',
      'display': 'flex',
      'flex-direction': 'column',
      'flex-wrap': 'wrap',
      'align-content': 'flex-start'
    }"
      [title]="itemMeta.item.tooltip? itemMeta.item.tooltip : ''">
    <div class="mat-body-2" [style]="{'flex':'0 0 24px'}">{{itemMeta.item.name}}</div>
    <div class="mat-body-1" [style]="{'flex':'0 0 24px'}">{{itemMeta.item.start | date: 'shortTime'}} - {{itemMeta.item.end | date: 'shortTime'}}</div>
  </div>
</ng-template>
